django>=4.0
python-dotenv
djangorestframework
django-cors-headers
djangorestframework-simplejwt
requests
django-filter
pdfplumber
google-genai
groq
gunicorn
whitenoise
dj-database-url
psycopg2-binary
duckduckgo-search
